<div ng-if="count2 > 0">
    <h2 class="title is-4">Cart</h2>

    <div class="content">
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th width="40px">Cost</th>
                    <th width="40px">Count</th>
                    <th width="40px">Sum</th>
                    <th width="40px"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(id, count) in cartItems" ng-controller="StoreCartLineController">
                    <td>{{ item.title }}</td>
                    <td>{{ item.cost }}</td>
                    <td><input class="input" type="number" ng-model="cartItems[id]" min="0" style="width: 60px;"></td>
                    <td>{{ item.cost * cartItems[id] | currency }}</td>
                    <td><a class="delete" ng-click="onItemDelete(id)"></a></td>
                </tr>
            </tbody>
        </table>
    </div>

    <nav class="level">
        <div class="level-left"></div>
        <div class="level-right">
            <p class="level-item"><strong ng-controller="StoreCartTotalController">Total {{ total | currency }}</strong></p>
            <p class="level-item"><a ng-disabled="count == 0" class="button is-success">BUY</a></p>
        </div>
    </nav>
</div>

<h3 class="title is-3 has-text-centered" ng-if="count2 == 0">Cart is empty</h3>